.background {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: -7px;
    margin-left: -10px; 
    width: calc(100vw + 15px);
    min-height: calc(100vh + 15px);
    visibility: hidden;
    z-index: -1;
    object-fit: cover;
}
body {
    background: rgb(5, 5, 5);
    font-size: min(1.1rem, 4.5vw);
    overflow: visible;
    font-family: Verdana, sans-serif;
    overscroll-behavior-y: none;
}
#container {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding-top: 80px;
    padding-left: 70px;
}
#sidebar {
    float: left;
    flex: 1 0 auto;
    width: 360px;
    margin-right: min(60px, 4vw);
}
#contact-logo {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 30px;
    margin-top: -2px;
}
#logo {
    width: 70%;
    float: left;
}
#contact {
    margin-left:auto;
    width: 20%;
    padding-left: 0;
    list-style-type: none;
}
#contact > li {
    margin-left:auto;
    overflow: auto;
    width: 33px;
    padding: 5px 4px 12px 0;
}
.contact-icon {
    border-radius: .1rem;
    float: right;
    width: 100%;
    height: 100%;
}
#navvy {
    padding: 1rem;
    height: calc(100% - 260px);
    overflow-wrap: break-word;
    overflow-x: hidden;
    background: rgb(30, 30, 30);
    font-size: 1.1rem;
}
.navbar-brand.nav-link, .nav-link, .nav-link:focus {
    color: rgb(240, 240, 240) !important;
}
.nav-link:hover, .nav-link.active {
    color: rgb(10, 230, 10) !important;
}
.nav-pills a.nav-link.active {
    color:rgb(10, 230, 10);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color:rgb(20, 20, 20, 0);
}
.inactive, .inactive:hover, .inactive:focus {
    color: rgb(240, 240, 240) !important;
}
.navbar-brand {
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: solid;
    padding-left: 3px;
    margin-left: 13px;
    margin-right: 3px;
    border-radius: 0;
}
.nav-pills .nav-link.navbar-brand {
    background: 0 0;
    border-bottom: solid;
    border-color: rgb(240, 240, 240);
    border-radius: inherit;
}
#navvy::-webkit-scrollbar {
    display: none;
  }

#wrapper {
    padding: 40px 35px 0px 40px;
    flex: 1 1 auto;
    float: right;
    display: flex;
    flex-flow: column;
    overflow: visible;
    scrollbar-width: none;
    background: rgb(30, 30, 30);
}
#header {
    overflow: visible;
    color:rgb(240, 240, 240);
}
#section-header {
    color:rgb(10, 230, 10);
    font-size: min(22px, 5vw);
}
#entry-header {
    font-size: min(50px, 8vw);
}
#content {
    overscroll-behavior: none;
    flex: 1 1 auto;
    color: rgb(240, 240, 240);
    width: 100%;
    transition-duration: 0.5s;
}
.feedback {
    max-width: min(700px, 100%);
    text-align: right;
    margin-left: auto;
    margin-top: 25px;
    padding-bottom: 35px;
}
.scroll-container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.section {
    margin-bottom: 50px;
    overflow-x: hidden;
    min-height: 100%;
    scroll-snap-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scrollbar-width: none;
}
a {
    color:rgb(240, 240, 240);
}
a:hover {
    color:rgb(10, 230, 10) !important;
}
.no-bullets {
    list-style-type: '';
}
.technical > ul {
    list-style-type: ' ';
    padding-left: 12px;
    padding-right: min(100px, 10vw);
}
.technical > ul > li {
    margin-bottom: 15px;
}
.synopsis {
    font-size: min(1.26rem, 5vw);
    margin-bottom: 1.5rem;
}
strong {
    font-weight: normal;
    color:rgb(10, 230, 10);
}
.bg-light {
    --bs-bg-opacity: 0.9;
    background-color: white;
}
h1 {
    font-size: 2.5em;
    font-weight: 500;
}
h5 {
    color:rgb(10, 230, 10);
    font-size: min(1.3rem, 5.5vw);
}
h4 {
    color:rgb(10, 230, 10);
    padding: 15px 0 15px 0;
}
h3 {
    padding: 20px 0 15px 0;
    font-size: min(1.8rem, 5.5vw);
}
.scroll-container::-webkit-scrollbar {
    display: none;
  }
 /* Hide scrollbar for Chrome, Safari and Opera */
 #content::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#content {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
} 
 /* Hide scrollbar for Chrome, Safari and Opera */
 #container::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
} 
 /* Hide scrollbar for Chrome, Safari and Opera */
 #wrapper::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#wrapper {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
} 
#container.mobile {
    flex-direction: column;
    padding: 10px 10px 0 10px;
    overflow-y: scroll;
}
#navvy.mobile {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}
#wrapper.mobile {
    padding: 20px 3vw 0px 3vw;
    height: calc(100vh - 10px);
}
#sidebar.mobile {
    width: 100%;
    margin: 0;
}
#content.mobile {
    scroll-snap-type: none;
    overflow-y: hidden;
}
#logo.mobile {
    width: 80%;
}
.feedback > ul > li.mobile {
    display: inline;
    padding-left: 0;
}
#contact-logo.mobile {
    margin-bottom: 10px;
}