body {
    background-image: url('../static/bground.jpg');
    position: relative;
    padding: 50 50 50 50;
}

#content {
    float: right;
    padding: 20 20 20 20;
}

#nav {
    float: left;
}

.bg-light {
    --bs-bg-opacity: 0.9;
}