<html lang="en">
    {% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
      <div class="container-fluid">
        <nav id="nav" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
            <a class="navbar-brand" href="#">Portfolio</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#item-1">Image Processing</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-1-1">Defect Detection in Solar Cells</a>
                <a class="nav-link ms-3 my-1" href="#item-1-2">Building Outlines from LIDAR</a>
                <a class="nav-link ms-3 my-1" href="#item-1-3">ImGravy</a>
              </nav>
              <a class="nav-link" href="#item-2">Web Frameworks</a>
              <a class="nav-link" href="#item-3">Data Mining</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#item-3-1">PDFGravy</a>
                <a class="nav-link ms-3 my-1" href="#item-3-2">ResumeGravy</a>
              </nav>
            </nav>
          </nav>

          <div id="content" class="container bg-light col-md-9" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
            <h4 id="item-1" class="section-text">Image Processing 1</h4>
            <p>...</p>
            <h5 id="item-1-1">Item 1-1</h5>
            <p>...</p>
            <h5 id="item-1-2">Item 1-2</h5>
            <p>...</p>
            <h4 id="item-2">Item 2</h4>
            <p>...</p>
            <h4 id="item-3">Item 3</h4>
            <p>...</p>
            <h5 id="item-3-1">Item 3-1</h5>
            <p>...</p>
            <h5 id="item-3-2">Item 3-2</h5>
            <p>...</p>
          </div>
        </div>
    </body>
</html>