<html lang="en">
    {% load static %}
    <head>
        <title>Gravy Jones Locker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/arrow.css' %}">
        <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}">
    </head>
    <body>
      <img id="background-panel" class="background" src="{% static 'imgs/panel.jpg' %}"></img>
      <img id="background-lidar" class="background" src="{% static 'imgs/lidar.jpeg' %}"></img>
      <img id="background-trading" class="background" src="{% static 'imgs/tradinglite.jpg' %}"></img>      
      <img id="background-eu" class="background" src="{% static 'imgs/eupdfs.png' %}" style="filter: brightness(97%);"></img>      
      <img id="background-rg" class="background" src="{% static 'imgs/resumegravy.png' %}"></img>
      <img id="background-ppt" class="background" src="{% static 'imgs/ppt.png' %}"></img>
      <div id="container">
        <div id="sidebar" class="flex-column">
          <div id="summary">
              <img id="logo" src="{% static 'imgs/logo_transparent.png' %}">
              <ul id="contact">
                <li>
                  <a href="https://github.com/gravy-jones-locker" target="_blank">
                    <img alt="@gravy-jones-locker" class="contact-img" title="@gravy-jones-locker" src="{% static 'imgs/github.png' %}">
                  </a>
                </li>
                <li>
                  <a href="https://www.upwork.com/freelancers/~01b7ea7111969c5ebb?viewMode=1" target="_blank">
                    <img alt="link to upwork profile" class="contact-img" title="Upwork Profile" src="{% static 'imgs/upwork.png' %}">
                  </a>
                </li>
                <li>
                  <a href="mailto:gravy@gravyjoneslocker.uk" target="_blank">
                    <img style="width: 39px; margin-top: -3px;" class="contact-img" alt="send email to gravy" title="gravy@gravyjoneslocker.uk" src="{% static 'imgs/email.png' %}">
                  </a>
                </li>
              </ul>
          </div>
          <nav id="navvy" class="navbar navbar-light flex-column align-items-stretch p-3">
            <nav class="nav nav-pills flex-column">
              <a class="navbar-brand nav-link" href="#Profile">Summary</a>
              <a class="navbar-brand" href="#">Portfolio</a>
              <a class="nav-link" id="vision-link" href="#item-1">Computer Vision</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-2" href="#item-1-1">// Solar Cell Defect Detection</a>
                <a class="nav-link ms-2" href="#item-1-2">// LIDAR Building Segmentation</a>
              </nav>
              <a class="nav-link" id="frameworks-link" href="#item-2">Web Frameworks</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-2" href="#item-2-1">// Trading Alert System</a>
                <a class="nav-link ms-2" href="#item-2-2">// EU Pdf Portal</a>
              </nav>
              <a class="nav-link" href="#item-3">Data Processing</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-2" href="#item-3-1">// ResumeGravy</a>
                <a class="nav-link ms-2" href="#item-3-2">// Ppt Table Parsing</a>
              </nav>
            </nav>
          </nav>
        </div>
        <div id="wrapper" class="rightbar">
          <div id="header" class="rightbar">
            <div id="subheading" class="subheading">
              <h2 id="subheading-text"></h2>
              <h1 id="subsubheading-text">Profile</h1>
            </div>
          </div>
          <div id="content" class="rounded rightbar scroll-container" data-bs-spy="scroll" data-bs-offset="50" data-bs-target="#navvy" tabindex="0">
            <div class="section" style="margin-top: 10px;">
              <p id="Profile" class="synopsis" alt="Summary // Freelance Developer - Python+">
                An experienced backend developer with expert proficiency in the native Python3 libraries
                and related technologies. Specialising in computer vision, web frameworks and
                data processing
              </p>
              <div class="main">
                <div>
                  <h3>Frequently Used Technologies</h3>
                  <ul>
                    <li>
                      Web Frameworks: Django, Flask, SQLite, Pyramid, NGINX, Apache
                    </li>
                    <li>
                      Web Frontend: Bootstrap, CSS, HTML, JavaScript
                    </li>
                    <li>
                      RESTful API Integration: Django REST Framework, Google Ads, OAuth2, Azure AD
                    </li>
                    <li>
                      Computer Vision: OpenCV, Scikit-Image, SimpleITK, numpy, imutils
                    </li>
                    <li>
                      Cloud Computing: AWS EC2, AWS S3, AWS Elastic IP, Digital Ocean
                    </li>
                  </ul>
                  <br />
                  <p>
                    This website includes contact details and links to relevant personal resources
                    as well as a portfolio of past projects. <strong>GJ</strong>
                  </p>
                </div>
                <div class="feedback">
                  <h5>Quotes & More Info</h5>
                  <div id="contact-details">see open repository contributions and code samples <a href="https://github.com/gravy-jones-locker" target="_blank">here</a> /
                    <br /> see past jobs and client testimonials <a href="https://www.upwork.com/freelancers/~01b7ea7111969c5ebb?viewMode=1" target="_blank">here</a> /
                    <br /> email me <a href="mailto:gravy@gravyjoneslocker.uk" target="_blank">here</a> /
                  </div>
                </div>
              </div>
            </div>
            <div class="section">
              <p id="item-1-1" class="synopsis" alt="Computer Vision // Solar Cell Defect Detection">
                Workflow package for an ML defect detection pipeline. Manages splitting, preprocessing and recomposition of electroluminescent images from the solar panel manufacturing process
              </p>
              <div class="text main">
                <div class="technical">
                  <h3 style="color: white;">Technical Notes</h3>
                  <ul>
                    <li>
                      <strong>Vectorization</strong> and <strong>multi-threading</strong> accelerates processing of high-resolution image matrices
                    </li>
                    <li>
                      A <strong>bespoke registration module</strong> exploits medical imaging techniques 
                      to accurately align low-information, sparsely featured cell images
                      
                    </li>
                    <li>
                      A sequence of <strong>non-linear convolutions</strong> exposes otherwise hidden defects (e.g. hairline cracks)
                    </li>
                    <li>
                      Base Image class spun off into bindings for <strong>simplified and Pythonic image processing pipelines</strong> - <a href="https://github.com/gravy-jones-locker/imgravy">ImGravy</a></span>
                    </li>
                  </ul>
                </div>
                <div class="feedback">
                  <h5>Avalon ST</h5>
                  <div>
                    "[Gravy] managed to solve problems that others couldn't. Proactive, he gets what to do quickly, overall a pleasure to work with [Gravy], highly recommended."
                  </div>
                </div>
              </div>
            </div>
            <div class="section">
              <p id="item-1-2" class="synopsis" alt="Computer Vision // LIDAR Building Segmentation">
                High-accuracy segmentation of LIDAR arrays into individual buildings. Generates visual and coordinate building location outputs from raw input data
              </p>
              <div class="main">
                <h3>Technical Notes</h3>
                <div class="technical">
                  <ul>
                    <li>
                      Thresholding <strong>height-normalized point clouds</strong> to a given 'first-storey' value derives rough building
                      outlines
                    </li>
                    <li>
                      Basic morphological operations (erosion; dilation) consolidate initial areas of interest using
                       <strong>custom kernels for enhanced precision</strong>
                    </li>
                    <li>
                      An iterative process of <strong>Hierarchical Rectangular Polygon Fitting <a href="https://www.researchgate.net/profile/Hossein-Arefi/publication/225002968_From_LIDAR_Point_Clouds_to_3D_Building_Models/links/5819e9b208ae30a2c01c8c17/From-LIDAR-Point-Clouds-to-3D-Building-Models.pdf">(Arefi 2009)</a></strong> extracts shapes with roughly orthogonal edges
                    </li>
                    <li>
                      Subsequent <strong>post-processing algorithms</strong> refine the output of HRPF to achieve the required level of accuracy
                      and remove processing artefacts
                    </li>
                  </ul>
                </div>
                <p>
                </p>
                <div class="feedback">
                  <h5>Lend Direct</h5>
                  <div>
                    "Very professional work from [Gravy], he met the specification perfectly and delivered within the set time budget with great communication throughout."
                  </div>
                </div>
              </div>
            </div>
            <div class="section">
              <p id="item-2-1" class="synopsis" alt="Computer Vision | Web Frameworks // Trading Alert System">
                Always-on solution for monitoring key trading metrics. Captures and parses chart images for alert criteria, specified through a configurable frontend
              <div class="main">
                <h3>Technical Notes</h3>
                <div class="technical">
                  <ul>
                    <li>
                      Trading charts rendered in virtual memory using <strong>Xvfb display server</strong> with no need to maintain a physical display
                    </li>
                    <li>
                      Alert criteria (exchange; asset; relevant thresholds) configured through a <strong>Jinja templated dashboard</strong> and wired to backend logic using the <strong>Django web framework</strong>
                    </li>
                    <li>
                      Chart indicators detected using color masking in the <strong>HSV colorspace</strong> and minimum pixel thresholds
                    </li>
                    <li>
                      Alert notifications sent with the <strong>smtplib native Python3 library</strong> to a configurable recipient email address 
                    </li>
                  </ul>
                </div>
                <div class="feedback">
                  <h5>Private Client</h5>
                  <div>
                    "[Gravy] did fantastic work. I would recommend him to anyone."
                  </div>
                </div>
              </div>
            </div>
            <div class="section">
              <p id="item-2-2" class="synopsis" alt="Data Processing | Web Frameworks // EU Pdf Portal">
                Interface for bulk downloading Pdf search results from EU sites. Generates downloadable archives of document text content and metadata from query URL</p>
              <div class="main">
                <h3>Technical Notes</h3>
                <div class="technical">
                  <ul>
                    <li>
                      Extracts relevant content from search hits using site-specific xpath data and a <strong>simulated Selenium browser session</strong>
                    </li>
                    <li>
                      Programmatically determines result count and executes <strong>multiple fallback iterations</strong> in case of connection or runtime failures 
                    </li>
                    <li>
                      Dynamic logs rendered on <strong>Jinja templated frontend</strong> for monitoring and diagnostics by the end user
                    </li>
                    <li>
                      Executes <strong>serverside Pdf parsing</strong> to avoid excessive download sizes 
                    </li>
                  </ul>
                </div>
                <div class="feedback">
                  <h5>Porter Novelli</h5>
                  <div>
                    "[Gravy] helped me build a unique and interesting tool ... understood the brief quickly, and helped innovate on the initial idea ... responsive and quick as we tweaked and improved."
                  </div>
                </div>
              </div>
            </div>
            <div class="section">
              <p id="item-3-1" class="synopsis" alt="Data Processing // ResumeGravy">
                Package for extracting structured data from candidate resume Pdfs. Converts floating character encodings to labelled field/value pairs. Currently live at <a href="https://rezi.ai">Rezi.ai</a> (Seoul)
              </p>
              <div class="main">
                <h3>Technical Notes</h3>
                  <div class="technical">
                    <ul>
                      <li>
                        Leverages <strong>spatial, formatting</strong> and <strong>semantic</strong> information to detect field types and build <strong>output JSON payload</strong>
                      </li>
                      <li>
                        Optimisation submodule implements <strong>recursive learning</strong> for continuous improvement while minimising development time
                      </li>
                      <li>
                        <strong>Input agnostic structure</strong> ensures workability for a broad range of resume formats
                      </li>
                      <li>
                        Built for <strong>lightweight deployment</strong> as part of a microservices architecture (GCP, AWS Lambda etc.)
                      </li>
                    </ul>
                  </div>  
                  <div class="feedback">
                    <h5>Rezi</h5>
                    <div>
                      "[Gravy] is the best developer in the world. I love him
                    </div>
                  </div>
                </div>
            </div>
            <div class="section">
              <p id="item-3-2" class="synopsis" alt="Data Processing // Ppt Table Parsing">
                Pipeline for extracting Ppt table data. Manages programmatic unpacking of common slide formats into structured outputs
              </p>
              <div class="main">
                <h3>Technical Notes</h3>
                  <div class="technical">
                    <ul>
                      <li>
                        Slide tables are exposed as Pythonic data structures using <strong>custom iterators</strong> and intelligent column parsing
                      </li>
                      <li>
                        <strong>Static configuration structure</strong> facilitates extensibility to new Ppt formats without unnecessary codebase edits
                      </li>
                      <li>
                        Post-processing steps <strong>verify extraction accuracy</strong> and perform additional cleaning
                      </li>
                      <li>
                        The <strong>Pandas library</strong> collates multiple input files of any configured format into one output object/file
                      </li>
                    </ul>
                  </div>  
                  <div class="feedback">
                    <h5>Russell Reynolds</h5>
                    <div>
                      "[Gravy] is the worst developer in the world. I hate him
                    </div>
                  </div>
 
              </div>
            </div>
        </div>
      </div>
    </div>
      <script>
var firstScrollSpyEl = document.querySelector('[data-bs-spy="scroll"]')
firstScrollSpyEl.addEventListener('activate.bs.scrollspy', function () {
  scrollSpy = bootstrap.ScrollSpy.getInstance(document.getElementById('content'));
  activeEl = scrollSpy._activeTarget.slice(1);
  subtitle = document.getElementById(activeEl).getAttribute('alt')
  title = ''
  if (subtitle.includes('//')) {
    title, parts = subtitle.split('//');
    title = parts[0];
    subtitle = '// ' + parts[1];
  }
function hideBackgrounds () {
    document.getElementById('logo').style.background = "rgb(20, 20, 20, 0.75)";
    for (const elem of document.getElementsByClassName('background')) {
      elem.style.visibility = 'hidden';
    };
  };
  hideBackgrounds();
  if (!title.includes('Vision')) {
    document.getElementById('vision-link').style.color = "rgb(240, 240, 240)";
  }
  else {
    document.getElementById('vision-link').style.color = "rgb(10, 230, 10)";
  }
  if (subtitle.includes('Defect')) {
    document.getElementById('background-panel').style.visibility = "visible";
    document.getElementById('wrapper').style.background = "rgb(35, 35, 120, 0.92)";
    document.getElementById('navvy').style.background = "rgb(35, 35, 120, 0.92)";
  }
  else if (subtitle.includes('LIDAR')) {
    document.getElementById('background-lidar').style.visibility = "visible";
    document.getElementById('wrapper').style.background = "rgb(40, 40, 40, 0.95)";
    document.getElementById('navvy').style.background = "rgb(40, 40, 40, 0.95)";
  }
  else if (subtitle.includes('Trading')) {
    document.getElementById('vision-link').style.color = "rgb(10, 230, 10)";
    document.getElementById('background-trading').style.visibility = "visible";
    document.getElementById('wrapper').style.background = "rgb(10, 5, 25, 0.85)";
    document.getElementById('navvy').style.background = "rgb(10, 5, 25, 0.85)";  
  }
  else if (subtitle.includes('EU Pdf')) {
    document.getElementById('logo').style.background = "rgb(0, 0, 0, 0.85)";
    document.getElementById('background-eu').style.visibility = "visible";
    document.getElementById('wrapper').style.background = "rgb(10, 10, 10, 0.85)";
    document.getElementById('navvy').style.background = "rgb(10, 10, 10, 0.85)";  
  }
  else if (subtitle.includes('ResumeGravy')) {
    document.getElementById('logo').style.background = "rgb(5, 30, 30, 0.85)";
    document.getElementById('background-rg').style.visibility = "visible";
    document.getElementById('wrapper').style.background = "rgb(5, 33, 33, 0.85)";
    document.getElementById('navvy').style.background = "rgb(5, 33, 33, 0.85)";  
  }
  else if (subtitle.includes('Ppt')) {
    document.getElementById('logo').style.background = "rgb(30, 30, 30, 0.85)";
    document.getElementById('background-ppt').style.visibility = "visible";
    document.getElementById('wrapper').style.background = "rgb(30, 30, 30, 0.85)";
    document.getElementById('navvy').style.background = "rgb(30, 30, 30, 0.85)";  
  }
  else {
    document.getElementById('wrapper').style.background = "rgb(30, 30, 30)";
    document.getElementById('navvy').style.background = "rgb(30, 30, 30)";
  }
  document.getElementById('subheading-text').textContent = title;
  document.getElementById('subsubheading-text').textContent = subtitle;
  if (subtitle.includes('EU Pdf')|subtitle.includes('Ppt')) {
    invertVal = "invert(80%)";
  }
  else {
    invertVal = "";
  }
  imgs = document.getElementsByClassName('contact-img');
  for (img of imgs) {
    img.style.filter = invertVal;
  }
})

      </script>
    </body>
</html>