<html lang="en">
    {% load static %}
    <head>
        <title>Gravy Jones Locker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/arrow.css' %}">
        <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}">
    </head>
    <body>
      <div id="sidebar" class="flex-column">
        <div id="summary">
            <img id="logo" src="{% static 'imgs/logo.jpg' %}">
            <ul id="contact">
              <li>
                <a href="https://github.com/gravy-jones-locker" target="_blank">
                  <img alt="@gravy-jones-locker" title="@gravy-jones-locker" src="{% static 'imgs/github.png' %}">
                </a>
              </li>
              <li>
                <a href="https://www.upwork.com/freelancers/~01b7ea7111969c5ebb?viewMode=1" target="_blank">
                  <img alt="link to upwork profile" title="Upwork Profile" src="{% static 'imgs/upwork.png' %}">
                </a>
              </li>
              <li>
                <a href="mailto:gravy@gravyjoneslocker.uk" target="_blank">
                  <img style="width: 39px; margin-top: -3px;" alt="send email to gravy" title="gravy@gravyjoneslocker.uk" src="{% static 'imgs/email.png' %}">
                </a>
              </li>
            </ul>
        </div>
        <nav id="navvy" class="navbar navbar-light flex-column align-items-stretch p-3">
          <nav class="nav nav-pills flex-column">
            <a class="navbar-brand" href="#">Profile</a>
            <a class="navbar-brand" href="#">Experience & Projects</a>
            <a class="nav-link" href="#item-1">Computer Vision</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ms-3" href="#item-1-1">Defect Detection in Solar Cells</a>
              <a class="nav-link ms-3" href="#item-1-2">Building Outlines from LIDAR</a>
              <a class="nav-link ms-3" href="#item-1-3">ImGravy</a>
            </nav>
            <a class="nav-link" href="#item-2">Web Frameworks</a>
            <a class="nav-link" href="#item-3">Data Mining</a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ms-3" href="#item-3-1">PDFGravy</a>
              <a class="nav-link ms-3" href="#item-3-2">ResumeGravy</a>
            </nav>
          </nav>
        </nav>
      </div>
      <div id="header" class="rightbar">
        <div id="banner">
          <h1>Senior Backend Developer</h1>
          <h3 style="font-weight: 300;">Computer Vision | Web Frameworks | Data Mining</h3>
        </div>
        <div class="subheading">
          <h2>
            Profile
          </h2>
        </div>
      </div>
      <div id="content" class="rounded rightbar scroll-container" data-bs-spy="scroll" data-bs-target="#navvy" data-bs-offset="50" tabindex="0">
        <div class="section">
          <div class="section-content">
            <div class="synopsis">
              <p>
                An experienced backend developer with expert proficiency in the native Python3 libraries
                and related technologies, specialising in computer vision, web/RESTful frameworks and
                data mining.
              </p>
            </div>
            <div class="text left">
              <h5>Frequently Used Technologies</h5>
              <ul style="padding-left: 50; padding-top: 15;">
                <li>
                  Web Frameworks: Django, Flask, SQLite, Pyramid, NGINX, Apache
                </li>
                <li>
                  Web Frontend: Bootstrap, CSS, HTML, JavaScript
                </li>
                <li>
                  RESTful API Integration: Django REST Framework, Google Ads, OAuth2, Azure AD
                </li>
                <li>
                  Computer Vision: OpenCV, Scikit-Image, SimpleITK, numpy, imutils
                </li>
                <li>
                  Cloud Computing: AWS EC2, AWS S3, AWS Elastic IP, Digital Ocean
                </li>
              </ul>
            </div>
            <div class="text right" style="width: 55%;">
              <h5>Contact for Quotes & More Info</h5>
              <p>see open repository contributions and code samples <a href="https://github.com/gravy-jones-locker" target="_blank">here</a> /
                <br /> see past jobs and client testimonials <a href="https://www.upwork.com/freelancers/~01b7ea7111969c5ebb?viewMode=1" target="_blank">here</a> /
                <br /> email me <a href="mailto:gravy@gravyjoneslocker.uk" target="_blank">here</a> /
              </p>
            </div>
          </div>
          <div class="footer bounce">
            <div style="position: relative;">
              <div class="downArrow">
                <img width="40" height="40" alt="" src="{% static 'imgs/arrow.png' %}" />
              </div>
            </div>
            <span>
              Scroll down for code samples/project case-studies
            </span>
          </div>
        </div>
        <div class="row section">
          <div class="synopsis">
            <h4 id="item-1" class="section-text top">Image Processing 1</h4>
            <p>...</p>
          </div>
        </div>
        <div class="row section">
          <h5 id="item-1-1" class="top">Item 1-1</h5>
          <p>...</p>
        </div>
        <div class="row section">
          <h5 id="item-1-2" class="top">Item 1-2</h5>
          <p>...</p>
        </div>
        <div class="row section">
          <h5 id="item-1-3" class="top">Item 1-3</h5>
          <p>...</p>
        </div>
        <div class="row section">
          <h4 id="item-2" class="top">Item 2</h4>
          <p>...</p>
        </div>
        <div class="row section">
          <h4 id="item-3" class="top">Item 3</h4>
          <p>...</p>
        </div>
        <div class="row section">
          <h5 id="item-3-1" class="top">Item 3-1</h5>
          <p>...</p>
        </div>
        <div class="row section">
          <h5 id="item-3-2" class="top">Item 3-2</h5>
          <p>...</p>
        </div>
      </div>
    </body>
</html>