.background {
    position: absolute;
    margin-top: -7px;
    margin-left: -10px; 
    object-fit: cover;
    min-width: calc(100% + 10px);
    min-height: calc(100% + 10px);
    visibility: hidden;
}

body {
    background: rgb(5, 5, 5);
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 1.1rem;
}

#container {
    position: relative;
    padding: 60 0 40 105;
    overscroll-behavior: none;
    height: 100%;
    margin: 0 auto;
    font-family: georgia, sans-serif;
    transition-duration: 0.2s;
}

#content {
    float: right;
    padding: 0 20 20 10;
    height: calc(100vh - 200px);
    position: relative;
    min-height: 480px;
    color: rgb(240, 240, 240);
    width: 100%;
    margin-top: 10px;
}

label {
    align-self: baseline;
    font-size: x-small;
    color: white;
}

.feedback {
    position: absolute;
    right: 0;
    bottom: 5;
    width: 600px;
    text-align: right;
    min-height: 85px;
}

.scroll-container {
    height: calc(100vh - 203px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section {
    overflow-x: hidden;
    height: 100%;
    padding: 0 0 0 0;
    scroll-snap-align: center;
}

a {
    color:rgb(240, 240, 240);
}

a:hover {
    color:rgb(10, 230, 10);
}

.technical a {
    text-decoration-line: underline;
}

.section-content {
    position: relative;
    padding: 15 0 0 0;
}

#sidebar {
    float: left;
    height: 100%;
    width: 425px;
    margin-bottom: 5px;
    margin-top: -5px;
    padding-right: 60px;
}

#header {
    color:rgb(240, 240, 240);
    height: 100px;
    width: 100%;
    position:relative;
    float: right;
    color: rgb(240, 240, 240);
}

#logo {
    width: 215;
    height: 250;
    border-top-left-radius: .25rem;
    float: left;
    padding-left: 2;
    background: rgb(20, 20, 20, 0.75);
}

.main {
    padding-bottom: 0 !important;
    position: relative;
    height: calc(100vh - 350px);
}

.main > * > ul {
    padding-left: 18;
    list-style-type: '-  ';
}

.technical > ul {
    list-style-type: ' ';
    padding-left: 15px;
    padding-right: 100px;
}

.technical > ul > li {
    margin-bottom: 20px;
}

#subheading-text {
    color:rgb(10, 230, 10);
    font-size: 1.25rem;
}

#subsubheading-text {
    font-size: 3.2rem;
}

.synopsis {
    padding: 0 0 30 0; 
    font-size: 1.23rem;
}

#summary {
    height: 260px;
    width: 100%;
    padding: 10 0 10 0;
    position: relative;
}

#contact {
    padding-top: 3px;
    float: right;
    bottom: 0;
}

strong {
    font-weight: normal;
    color:rgb(10, 230, 10);
}

.rightbar {
    padding-left: 10px;
}

#summary > ul {
    margin-top: -2;
    list-style-type: none;
}

#contact > * > * > img {
    padding: 2 1 10 15;
    width: 41px;
    border-radius: .1rem;
}

.bg-light {
    --bs-bg-opacity: 0.9;
    background-color: white;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
}

#wrapper {
    padding-top: 40;
    height: calc(100vh - 60px);
    width: calc(100% - 425px);
    position:relative;
    float: right;
    padding-left: 35px;
    padding-right: 20px;
}

#navvy {
    overflow-wrap: break-word;
    overflow-x: hidden;
    height: calc(100% - 245px);
    margin-top: 30px;
    font-size: 1.1rem;
}

h5 {
    color:rgb(10, 230, 10);
}

h4 {
    color:rgb(10, 230, 10);
    padding: 15 0 15 0;
}

h3 {
    padding: 20 0 20 0;
}

.text {
    padding-bottom: 30;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer > div > a > span {
    float: left;
    padding-left: 15px;
    -webkit-transform: skew(-8deg);
}

#low-section {
    right: 0;
    padding-right: 40px;
    position: fixed;
    text-align: right;
    z-index: 5;
    transition-duration: 0.2s;
}

#navvy::-webkit-scrollbar {
    display: none;
  }

.scroll-container::-webkit-scrollbar {
    display: none;
  }

.code {
    font-family: 'Courier New', Courier, monospace;
    background: lightgray;
    border-radius: 0.1rem;
    border-style: none;
    background: rgb(30, 30, 30, 0.85);
    padding: 2 5 2 5;
    font-size: 0.9rem;
    position: relative;
    margin-right: 2px;
    top: -1px;
}

.code > * {
    color: fuchsia;
}

.nav-link {
    color: rgb(240, 240, 240);
}

.nav-link:hover {
    color: rgb(10, 230, 10);
}

.navbar-brand {
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: solid;
    padding-left: 3;
    margin-left: 13px;
    margin-right: 3px;
    border-radius: 0;
}

.navbar-light .navbar-brand {
    color: rgb(240, 240, 240);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:rgb(20, 20, 20, 0);
}
.nav-pills a.nav-link.active {
    color:rgb(10, 230, 10);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color:rgb(10, 230, 10);
    border-color: rgb(240, 240, 240);
}

.nav-pills .nav-link.navbar-brand {
    background: 0 0;
    border-bottom: solid;
    border-color: rgb(240, 240, 240);
    border-radius: inherit;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 #content::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#content {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
} 

#contact-details {
    transition-duration: 0.2s;
    margin-top: hidden;
}