body {
    background: black;
    position: relative;
    padding: 30 65 35 65;
    overscroll-behavior: none;
}

#content {
    max-height: calc(70% + 5px);
    float: right;
    padding: 0 20 20 20;
    height: 100vh;
    position: relative;
    min-height: 480px;
    color: rgb(240, 240, 240);
    width: 75%;
}

#sidebar {
    width: 25%;
}

label {
    align-self: baseline;
    font-size: x-small;
    color: white;
}

.scroll-container {
    height: calc(100vh - 203px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section {
    overflow-x: hidden;
    height: 100%;
    padding: 0 0 50 0;
    margin-top: 20;
    scroll-snap-align: center;
}

a {
    color:rgb(240, 240, 240);
}

a:hover {
    color:rgb(1, 210, 1);
}

.section-content {
    position: relative;
    padding: 15 0 0 0;
}

#banner {
    text-align: right;
    float: right;
    color:rgb(240, 240, 240);
    padding: 0 0 30 0;
}

#banner > * {
    padding: 0 0 15 0;
}

#sidebar {
    float: left;
    padding-right: 25px;
    height: 100%;
    margin-bottom: 5px;
    margin-top: -5px;
}

#header {
    height: 203px;
    width: 75%;
    position:relative;
    float: right;
    border-bottom-style: dashed;
    color: rgb(240, 240, 240);
}

#logo {
    width: 50%;
    height: 100%;
    border-top-left-radius: .25rem;
    float: left;
    padding-left: 2;
}

h4 {
    padding: 5;
}

.subheading {
    color:rgb(240, 240, 240);
    float: left;
    height: 100%;
    position: relative;
    width: 20%;
}

.subheading > * {
    position: absolute;
    bottom: -4;
    left: -10;
}

.synopsis > p {
    -webkit-transform: skew(-6deg);
    font-size: 1.1rem;
    font-weight: 460;
    padding-left: 5;
}

#summary {
    height: 210px;
    width: 100%;
    padding: 10 0 10 0;
    position: relative;
}

#contact {
    padding-top: 2px;
    float: right;
    bottom: 0;
}

.rightbar {
    padding-left: 10px;
}

#summary > ul {
    margin-top: -2;
    list-style-type: none;
}

#contact > * > * > img {
    padding: 2 1 10 15;
    width: 41px;
    border-radius: .1rem;
}

.bg-light {
    --bs-bg-opacity: 0.9;
    background-color: white;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
}

#navvy {
    height: calc(70% + 5px);
    overflow: scroll;
    border-radius: .25rem;
    background: rgb(240, 240, 240);
    overflow-wrap: break-word;
    overflow-x: hidden;
    min-height: 480px;
    margin-top: 5px;
}

h5 {
    color:rgb(1, 210, 1);
    padding: 10 0 10 0;
}

.text {
    padding-bottom: 30;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer > div > a > span {
    float: left;
    padding-left: 15px;
    -webkit-transform: skew(-8deg);
}

.right {
    bottom: 0;
    right: -20;
    padding-right: 100px;
    position: fixed;
    text-align: right;
}

#navvy::-webkit-scrollbar {
    display: none;
  }

.scroll-container::-webkit-scrollbar {
    display: none;
  }

.nav-link {
    color: rgb(20, 20, 20);
}

.nav-link:hover {
    color: rgb(1, 148, 1);
}
.navbar-brand {
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: solid;
    padding-left: 3;
    margin-right: 3px;
    border-radius: 0;
}

.nav-link {
    margin: 1;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:rgb(240, 240, 240);
    font-weight: 600;
}
.nav-pills a.nav-link.active {
    color:rgb(1, 148, 1);
}

.nav-pills .nav-link.navbar-brand {
    background: 0 0;
    border-bottom: solid;
    border-color: black;
    border-radius: inherit;
}