body {
    background: rgb(5, 5, 5);
    position: relative;
    padding: 40 65 40 65;
    overscroll-behavior: none;
    max-width: 1600px;
    margin: 0 auto;
    font-family: georgia, sans-serif;
}

#content {
    float: right;
    padding: 0 20 20 0;
    height: calc(100vh - 240px);
    position: relative;
    min-height: 480px;
    color: rgb(240, 240, 240);
    width: calc(100% - 395px);
    margin-top: 10px;
}

label {
    align-self: baseline;
    font-size: x-small;
    color: white;
}

.scroll-container {
    height: calc(100vh - 203px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section {
    overflow-x: hidden;
    height: 100%;
    padding: 0 0 50 15;
    scroll-snap-align: center;
}

a {
    color:rgb(240, 240, 240);
}

a:hover {
    color:rgb(1, 210, 1);
}

.section-content {
    position: relative;
    padding: 15 0 0 0;
}

#banner {
    text-align: right;
    position: absolute;
    top: 28;
    right: 0;
    color:rgb(240, 240, 240);
}

#banner > * {
    padding: 0 0 15 0;
}

#sidebar {
    float: left;
    padding-right: 30px;
    height: 100%;
    width: 395px;
    margin-bottom: 5px;
    margin-top: -5px;
}

#header {
    height: 165px;
    width: calc(100% - 405px);
    position:relative;
    float: right;
    color: rgb(240, 240, 240);
}

#logo {
    width: 215;
    height: 250;
    border-top-left-radius: .25rem;
    float: left;
    padding-left: 2;
}

h4 {
    padding: 5;
}

#subheading-text {
    color:rgb(1, 210, 1);
    font-size: large;
}

#subsubheading-text {
    font-size: 2.8rem;
}

.subheading {
    color:rgb(240, 240, 240);
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 8;
}

.synopsis {
    padding-top: 5;
}

#summary {
    height: 260px;
    width: 100%;
    padding: 10 0 10 0;
    position: relative;
}

#contact {
    padding-top: 3px;
    float: right;
    bottom: 0;
}

.rightbar {
    padding-left: 10px;
}

#summary > ul {
    margin-top: -2;
    list-style-type: none;
}

#contact > * > * > img {
    padding: 2 1 10 15;
    width: 41px;
    border-radius: .1rem;
}

.bg-light {
    --bs-bg-opacity: 0.9;
    background-color: white;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
}

#navvy {
    overflow: scroll;
    background: rgb(245, 245, 245);
    overflow-wrap: break-word;
    overflow-x: hidden;
    min-height: 480px;
    margin-top: 30px;
}

h5 {
    color:rgb(1, 210, 1);
    padding: 10 0 10 0;
}

.text {
    padding-bottom: 30;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer > div > a > span {
    float: left;
    padding-left: 15px;
    -webkit-transform: skew(-8deg);
}

.right {
    bottom: 10;
    right: -35;
    padding-right: 100px;
    position: fixed;
    text-align: right;
    background-color: black;
    z-index: 5;
}

#navvy::-webkit-scrollbar {
    display: none;
  }

.scroll-container::-webkit-scrollbar {
    display: none;
  }

.nav-link {
    color: rgb(20, 20, 20);
}

.nav-link:hover {
    color: rgb(1, 148, 1);
}
.navbar-brand {
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: solid;
    padding-left: 3;
    margin-left: 13px;
    margin-right: 3px;
    border-radius: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:rgb(240, 240, 240);
}
.nav-pills a.nav-link.active {
    color:rgb(1, 148, 1);
}

.nav-pills .nav-link.navbar-brand {
    background: 0 0;
    border-bottom: solid;
    border-color: black;
    border-radius: inherit;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 #content::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#content {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
} 